<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Lab_StudentGradeManagement"
         connectionString="Data Source=NTPHAT;Initial Catalog=Lab_StudentGradeManagement;uid=lab_admin;pwd=lab_admin;Integrated Security=True;Connect Timeout=60;Encrypt=True;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
</configuration>